.App {
  margin: 0;
  width: 100vw;
}

.emailTo {
  background-color: #072a40;
  margin: 0;
  height: 7vh;
  display: flex;
  align-items: center;
}

.emailTo a {
  color: #f9f7f0;
  display: flex;
  align-items: center;
  gap: 7px;
  text-decoration: none;
  margin-inline-start: 5vw;
  font-size: clamp(12px, 2vw, 15px);
}

.hamburgerDropDownMenu {
  display: none;
}

.hamburgerDropDownMenuHidden {
  display: none;
}

@media (max-width: 770px) {
  .hamburgerDropDownMenu {
    background-color: #f9f7f0;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .hamburgerDropDownMenu a {
    border-bottom: 1px #072a4015 solid;
    padding: 15px;
    margin: 0;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #072a40;
    text-decoration: none;
  }

  .hamburgerDropDownMenu a:hover {
    color: #18b7be;
  }

  .hamburgerDropDownMenuHidden {
    display: none;
  }
}
